<ion-header>
  <ion-toolbar>
    <ion-title>Car Shows</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-no-current-show *ngIf="!carShows.current"></app-no-current-show>
  <app-current-car-show [carShow]="carShows.current" *ngIf="carShows.current"></app-current-car-show>
  <ion-list *ngIf="allCarShows?.length">
    <ion-list-header>
      <ion-label>All Car Shows</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let show of allCarShows">
      <ion-label>{{show.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>