<ion-header>
  <ion-toolbar>
    <ion-title>Car Shows</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>The active car show will be displayed at the top. There can only be one active car show. On the backend, attempts to create
    a second active show should result in an error.</p>
  <p>If there is no active car show, a big red button will ask to you create one. Creating one involves giving it a date, perhaps
    changing the name, and picking the classes. The classes will be initialized with the base classes.</p>
  <p>If there is no active car show, the ballot and results pages will be disabled.</p>
  <p>Previous finalized car shows display on the first page. Clicking on them gives a full report of the votes.</p>
  <p>NOTE: the Results page may be renamed to Classes to avoid confusion.</p>
</ion-content>