<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Car Show</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="carShow">
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime display-format="MM/DD/YYYY" [value]="carShow.date" (ionChange)="parseDate($event)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="carShow.name"></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Active Classes
      </ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let show of carShow?.classes">
      <ion-label>{{show.description}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="show.active"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="createShow()" color="tertiary">Create</ion-button>
  </ion-toolbar>
</ion-footer>